@import url('https://fonts.googleapis.com/css2?family=Overlock+SC&family=Roboto:wght@400;700&display=swap');

*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #EAE8CD;
	font-family: 'Roboto', sans-seri
}

main{
	width: 940px;
	height: 1095px;
	margin: auto;
}

header{
	width: 940px;
	height: 70px;
	background-color: #EAE8CD;
}

article{
	width: 940px;
	height: 650px;


	background-image: url(../img/fondo11.png);
	
}
.logoet{
	height: 70px;
	background-color: #DFDCD0;
	float: left;
	display: table-cell;
	vertical-align: middle;

}
	.logoet img{
		padding-left: 32px;
		transition: 0.3s;

	}



.navbar{
	width: 659px;
	height: 70px;
	background-color: #DFDCD0;
	float: right;
	display:inline-block;
	vertical-align:middle;
}


a{
	text-decoration: none;
	color: inherit;
	font-size: 14px;
}

.navbar li{
	display:inline-block;
    width:80px;
    padding:10px 31px;
    margin: 10px;
    text-align:right;
    color:#000;
    float: right;
   font-weight: bold;
   padding-bottom: 3px;

}

.navbar li:hover{
	 color:#e8a600;
    text-align:right;
    font-weight: bolder;
    transition: 0.3s;
    transform: scale(1.1);
}

/*FOOTER*/
footer{
	width: 940px;
	height: 32px;
	background-color: #DFDCD0;
	vertical-align: auto;
	}
.footer{
	width: 470px;
	height: 32px;
	background-color: #DFDCD0;
	float: left;
}

	h3{
		font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #000;
    display: inline;
    float: right;
    padding: 8px;
	}

.sitio{
    display: inline-block;
    margin-top: 5px;
    margin-left: -45px;
}






.pdf{
    width: 90%;
    height: 542px;
    margin-left: 49px;
}

h1{
	
	font-size: 50px;
	color: #ECBC26;
	text-align: center;
   
    text-shadow: 2px 1px 5px grey;
    margin-left: 50px;
  
    }





    @media (min-width: 992px) and (max-width: 1199px) {



body{
	background-color: #EAE8CD;
	font-family: 'Roboto', sans-seri
}

main{
	width: 992px;
	height: 700px;
	margin: auto;
}

header{
	width: 992px;
	height: 70px;
	background-color: #DFDCD0;
}

article{
	width: 992px;
	height: 628px;
	background-image: url(../img/fondo11.png);
	
}
.logoet{
	width: 522px;
	height: 70px;
	background-color: #DFDCD0;
	float: left;
	display: table-cell;
	vertical-align: middle;

}
	.logoet img{
		padding-left: 32px;
		transition: 0.3s;

	}

.logoet img:hover{
	transform: scale(1.2);
}

.navbar{
	width: 470px;
	height: 70px;
	background-color: #DFDCD0;
	float: right;
	display:inline-block;
	vertical-align:middle;
}


a{
	text-decoration: none;
	color: inherit;
	font-size: 14px;
}

.navbar li{
	display:inline-block;
    width:80px;
    padding:10px 25px;
    margin: 10px;
    text-align:right;
    color:#000;
    float: right;
   font-weight: bold;
   padding-bottom: 3px;

}

.navbar li:hover{
	 color:#e8a600;
    text-align:right;
    font-weight: bolder;
    transition: 0.3s;
    transform: scale(1.1);
}

/*FOOTER*/
footer{
	width: 992px;
	height: 32px;
	background-color: #DFDCD0;
	vertical-align: auto;
	}
.footer{
	width: 470px;
	height: 32px;
	background-color: #DFDCD0;
	float: left;
}


h3{
		font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #000;
    display: inline;
    float: right;
    padding: 8px;
	}

.sitio{
    display: inline-block;
    margin-top: 5px;
    margin-left: -9px;
}



.pdf{
    width: 90%;
    height: 542px;
    margin-left: 49px;
}

h1{
	
	font-size: 50px;
	color: #ECBC26;
	text-align: center;
   
    text-shadow: 2px 1px 5px grey;
    margin-left: 50px;
  
    }

}


   /*MEDIUM*/
@media (min-width: 768px) and (max-width: 991px) {



body{
	background-color: #EAE8CD;
	font-family: 'Roboto', sans-seri
}

main{
	width: 768px;
	height: 700px;
	margin: auto;
}

header{
	width: 768px;
	height: 70px;
	background-color: #DFDCD0;
}

article{
	width: 768px;
	height: 700px;
	background-image: url(../img/fondo11.png);
	
}
.logoet{
	width: 249px;
	height: 70px;
	background-color: #DFDCD0;
	float: left;
	display: table-cell;
	vertical-align: middle;

}
	.logoet img{
		padding-left: 32px;
		transition: 0.3s;

	}

.logoet img:hover{
	transform: scale(1.2);
}

.navbar{
	width: 100%;
	height: 70px;
	background-color: #DFDCD0;
	float: right;
	display:inline-block;
	vertical-align:middle;
}


a{
	text-decoration: none;
	color: inherit;
	font-size: 18px;
}

.navbar li{
display: inline-block; */
    width: 80px;
    padding: 20px 81px;
    padding-right: 87px;
    margin: 4px;
    text-align: center;
    color: #000;
    font-weight: bold;
    padding-bottom: 3px;

}

.navbar li:hover{
	 color:#e8a600;
    text-align:right;
    font-weight: bolder;
    transition: 0.3s;
    transform: scale(1.1);
}

/*FOOTER*/
footer{
	width: 768px;
	height: 32px;
	background-color: #DFDCD0;
	vertical-align: auto;
	}
.footer{
	width: 470px;
	height: 32px;
	background-color: #DFDCD0;
	float: left;
}


h3{
		font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #000;
    display: inline;
    float: right;
    padding: 8px;
	}

.sitio{
    display: inline-block;
    margin-top: 5px;
    margin-left: -116px;
}



.pdf{
    width: 90%;
    height: 542px;
    margin-left: 49px;
}

h1{
	
	font-size: 50px;
	color: #ECBC26;
	text-align: center;
   
    text-shadow: 2px 1px 5px grey;
    margin-left: 50px;
  
    }

}


/*MEDIUM*/
@media (min-width: 576px) and (max-width: 767px) {



body{
	background-color: #EAE8CD;
	font-family: 'Roboto', sans-seri
}

main{
	width: 576px;
	height: 700px;
	margin: auto;
}

header{
	width: 576px;
	height: 70px;
	background-color: #DFDCD0;
}

article{
	width: 576px;
	height: 692px;
	background-image: url(../img/fondo11.png);
	
}
.logoet{
	width: 576px;
	height: 70px;
	background-color: #DFDCD0;
	text-align: center;
	display: table-cell;
	vertical-align: middle;

}
	.logoet img{
		padding-left: 32px;
		transition: 0.3s;

	}

.logoet img:hover{
	transform: scale(1.2);
}

.navbar{
	width: 576px;
	height: 70px;
	background-color: #DFDCD0;
	text-align: center;
	display:inline-block;
	vertical-align:middle;
}

.navbar li{
	display:inline-block;
    width:148px;
    padding:10px;
    text-align:center;
    color:#000;
   font-weight: bold;
   padding-bottom: 3px;

}
li{
	display: inline-block;
	text-align: cente
}
a{
	font-size: 18px;
}


/*FOOTER*/
footer{
	width: 576px;
	height: 32px;
	background-color: #DFDCD0;
	vertical-align: auto;
	}
.footer{
	width: 247px;
	height: 32px;
	background-color: #DFDCD0;
	float: left;
}
h3{
		font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #000;
    display: inline;
    float: right;
    padding: 8px;
    margin: 0px;
	}

.sitio{
    display: inline-block;
    margin-top: 5px;
    margin-left: -5px;
}






.pdf{
    width: 90%;
    height: 542px;
    margin-left: 28px;
}

h1{
	
	font-size: 50px;
	color: #ECBC26;
	text-align: center;
   
    text-shadow: 2px 1px 5px grey;
    margin-left: 50px;
  
    }
}




@media (min-width: 1200px) and (max-width: 1600px) {
body{
	background-color: #EAE8CD;
	font-family: 'Roboto', sans-seri
}

main{
	width: 1200px;
	height: 700px;
	margin: auto;
}

header{
	width: 1200px;
	height: 70px;
	background-color: #DFDCD0;
}

article{
	width: 1200px;
	height: 491px;
	background-image: url(../img/fondo11xl.png);
	
}
.logoet{
	width: 522px;
	height: 70px;
	background-color: #DFDCD0;
	float: left;
	display: table-cell;
	vertical-align: middle;

}
	.logoet img{
		padding-left: 32px;
		transition: 0.3s;

	}

.logoet img:hover{
	transform: scale(1.2);
}

.navbar{
	width: 470px;
	height: 70px;
	background-color: #DFDCD0;
	float: right;
	display:inline-block;
	vertical-align:middle;
}


a{
	text-decoration: none;
	color: inherit;
	font-size: 14px;
}

.navbar li{
	display:inline-block;
    width:80px;
    padding:10px 25px;
    margin: 10px;
    text-align:right;
    color:#000;
    float: right;
   font-weight: bold;
   padding-bottom: 3px;

}

.navbar li:hover{
	 color:#e8a600;
    text-align:right;
    font-weight: bolder;
    transition: 0.3s;
    transform: scale(1.1);
}

/*FOOTER*/
footer{
	width: 1200px;
	height: 32px;
	background-color: #DFDCD0;
	vertical-align: auto;
	}
.footer{
	width: 470px;
	height: 32px;
	background-color: #DFDCD0;
	float: left;
}


h3{
		font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #000;
    display: inline;
    float: right;
    padding: 8px;
	}

.sitio{
    display: inline-block;
    margin-top: 5px;
    margin-left: 98px;
}


.pdf{
    width: 90%;
    height: 405px;

    margin-left: 63px;
}


h1{
	
	font-size: 50px;
	color: #ECBC26;
	text-align: center;
   
    text-shadow: 2px 1px 5px grey;
    margin-left: 50px;
  
    }
}